.video-js-responsive-container.vjs-hd {
    padding-top: 56.25%;
}
.video-js-responsive-container.vjs-sd {
    padding-top: 75%;
}
.video-js-responsive-container {
    width: 100%;
    position: relative;
}
.video-js-responsive-container .video-js {
    height: 100% !important; 
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

.para-light-grey{
    background-color: rgb(250, 82, 82);
}

.para-green{
    background-color: lightgreen;
}

.twitter{
    color: rgb(0, 166, 196) !important;
}

.youtube{
    color: rgb(224, 32, 32) !important;
}

.video-title{
    font-weight: bold;
    font-size: 1.15em;
}

.break-word{
    word-break: break-word;
}

.overflow-auto{
    overflow: auto;
}

.menu{
    width: 100% !important;
}