<div class="column"> <!--Start tweet-->
    <div class="ui centered card">
        <div class="content">
            <div class="extra content">
                <div class="left floated author">
                    <img class="ui avatar image" src="{{ post.profilePic }}">
                </div>
            </div>
            <div class="header" id="author"><a href="{{post.op.replace('@','')}}">{{ post.op }}</a></div>
            <div class="meta">
                <span class="category" id="time"><i class="clock icon"></i> {{post.date}} </span>
            </div>
            <div class="description">
                <p>{{post.content}}</p>
            </div>
            <div class="extra content">
                <p>
                    <form class="ui form" action="{{ url_for('savePost', url=post.urlToPost.replace('/', '~')) }}" method="post">
                        <button type="submit" class="ui icon button">
                            <i class="bookmark outline icon"></i>
                          </button>
                    </form>
                </p>
            </div>
        </div>
        <!--<div class="extra content">
        <i class="like icon"></i> 1000
        <span> ·  · </span>
        <i class="retweet icon"></i> 20
        </div>-->
    </div>
</div> <!--End tweet-->