<div class="column"> <!--Start tweet-->
    <div class="ui centered card">
        <div class="content">
            <div class="extra content">
                <div class="left floated author">
                    <img class="ui avatar image" src="{{ url_for('static',filename='img/avatars/')}}{{range(1, 12) | random}}.png">
                </div>
                
                <a href="{{post.url}}"><span class="right floated star">
                    <i class="share square outline icon"></i>
                </span></a>
            </div>
            <div class="header" id="author"><a href="user/{{post.op.replace('@','')}}">{{ post.op }}</a></div>
            <div class="meta">
                <span class="category" id="time"><i class="clock icon"></i> {{post.date}} </span>
                <span class="category"><i class="retweet icon"></i> {{post.username}} retwitted</span>      
            </div>
            <div class="description">
                <p>{{post.content}}</p>
            </div>
            <div class="extra content">
                <p>
                    <form class="ui form" action="{{ url_for('savePost', url=post.url.replace('/', '~')) }}" method="post">
                        <button type="submit" class="ui icon button">
                            <i class="bookmark outline icon"></i>
                          </button>
                    </form>
                </p>
            </div>
        </div>
        <!--<div class="extra content">
        <i class="like icon"></i> 1000
        <span> ·  · </span>
        <i class="retweet icon"></i> 20
        </div>-->
    </div>
</div> <!--End tweet--> 