<div class="comment">
    <a class="avatar" style="width: 32px; height: 32px;"><img src="{{ comment.thumbnail }}"></a>
    <div class="content">
        {% if comment.author == info.author %}
        
        <a class="author" style="color: red;" href="{{comment.channel}}"><i class="red user circle icon"></i>{{comment.author}}</a>
        {% else %}
        <a class="author" href="{{comment.channel}}">{{comment.author}}</a>
        {% endif %}
        <div class="metadata">
            <div class="date">{{comment.date}}</div>
        </div>
        <div class="text">
            {{comment.text}}
        </div>
        <div class="metadata">
            <div class="rating">
                <i class="comment icon"></i>
                {{comment.replies}}
            </div>
            <div class="rating">
                <i class="thumbs up icon"></i>
                {{comment.likes}}
            </div>
        </div>
    </div>
</div>