<div class="ui card">
  <a class="image" href="{{url_for('watch', v=video.id, _method='GET')}}">
    <img src="{{video.videoThumb}}">
  </a>
  <div class="content">
    <a class="header" href="{{url_for('watch', v=video.id, _method='GET')}}">{{video.videoTitle}}</a>
    <div class="meta">
      <a class="break-word" href="{{url_for('channel', id=video.channelId)}}">{{video.channelName}}</a>
    </div>
  </div>
    <div class="extra content">
        {% if video.isLive == "Livestream" or video.isLive %}
            <span class="left floated like">
                <i class="red circle icon"></i>
                {{video.views}}
            </span>
        {% else %}
            <span class="left floated like">
                <i class="eye icon"></i>
                {{video.views}}
            </span>
        {% endif %}

        {% if video.timeStamp == "Scheduled" or video.isUpcoming %}
            <span class="right floated star">
                <i class="blue clock icon"></i>
                {{video.timeStamp}}
            </span>
        {% else %}
            <span class="right floated star">
                <i class="clock icon"></i>
                {{video.timeStamp}}
            </span>
        {% endif %}
        <span>
        </span>
    </div>
</div>