<div class="card">
    <div class="image">
        {%if config.nginxVideoStream%}
        <img alt="Thumbnail" src="{{video.videoThumb}}">
        {%else%}
        <img alt="Thumbnail" src="/img/{{video.videoThumb.replace('/', '~')}}">
        {%endif%}
    </div>
    <div class="content">
        {% if video.views == "Livestream" %}
        <a class="video-title break-word" href="#">{{video.videoTitle}}</a>
        {% else %}
        <a class="video-title break-word" href="{{url_for('watch', v=video.id, _method='GET')}}">{{video.videoTitle}}</a>
        {% endif %}
        <div class="meta">
            <a class="break-word" href="{{url_for('channel', id=video.channelId)}}">{{video.channelName}}</a>
        </div>
        <div class="description break-word">
            {{video.description}}
        </div>
    </div>
    <div class="extra content">
        {% if video.isLive == "Livestream" or video.isLive %}
            <span class="right floated">
                <i class="red circle icon"></i>
                ‎‎{{video.views}}
            </span>
        {% else %}
            <span class="right floated">
                <i class="eye icon"></i>
                ‎‎{{video.views}}
            </span>
        {% endif %}

        {% if video.timeStamp == "Scheduled" or video.isUpcoming %}
            <span class="right floated">
                <i class="blue clock icon"></i>
                {{video.timeStamp}}‎‎‎‎            ‎‎‎
            </span>
        {% else %}
            <span class="right floated">
                <i class="clock icon"></i>
                {{video.timeStamp}}‎‎‎‎            ‎‎‎
            </span>
        {% endif %}
        <span>
        </span>
    </div>
</div>