<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        {% if title %}
        <title>{{ title }} - Yotter</title>
        {% else %}
        <title>Yotter</title>
        {% endif %}
        <meta name="viewport" content="width=device-width">
        <link rel="preload" as= "style" type= "text/css" href= "{{ url_for('static',filename='semantic/semantic.min.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static',filename='favicons/favicon.ico') }}">

        <link rel="stylesheet"href= "{{ url_for('static',filename='semantic/semantic.min.css') }}">
    </head>
    <body>
        {% if config.maintenance_mode %}
            <div class="ui info message">
                <div class="header">
                    Server under maintenance.
                </div>
            </div>
        {% endif %}
        
        <div class="ui icon menu overflow-auto">
            <a href="{{ url_for('index') }}"><div class="item">
                <img alt="Yotter simple logo" src="{{ url_for('static',filename='img/logo_simple.png') }}">
            </div></a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}" class="item">Login</a>
            {% else %}
                <a href="{{ url_for('twitter') }}" class="twitter item"><i class="twitter icon"></i></a>
                <a href="{{ url_for('search') }}" class="twitter item"><i class="search icon"></i></a>
                <a href="{{ url_for('saved') }}" class="twitter item"><i class="bookmark icon"></i></a>
                <a href="{{ url_for('youtube') }}" class="youtube item"><i class="youtube icon"></i></a>
                <a href="{{ url_for('ytsearch') }}" class="youtube item"><i class="search icon"></i></a>
                <div class="right menu">
                    <a href="{{ url_for('settings') }}" class="item"><i class="cog icon"></i></a>
                    <a href="{{ url_for('logout') }}" class="item"><i class="sign-out icon"></i></a>
                </div>
            {% endif %}
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="ui info message">
                <div class="header">
                    Information
                </div>
                <ul class="list">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            </ul>
        {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </body>
</html>
