{% extends "base.html" %}

{% block content %}
<div style="margin: 0em;" class="ui one column centered grid">
    <div style="margin-top: 1em;" class="row">
        <img class="ui tiny circular image" src="{{ url_for('static',filename='img/avatars/')}}{{range(1, 12) | random}}.png">
    </div>
    <div style="margin: 1.5em;" class="row">
        <h2 class="ui header">Accounts you follow ({{ count }}):</h2>
    </div>
</div>
<hr>

<div style="margin: 0em;" class="ui one column centered grid">
<div class="ui middle aligned divided list">
    {% for acc in accounts %}
    <div class="item">
      <div class="right floated content">
            <p>
                <form action="{{ url_for('unfollowList', username=acc.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Unfollow') }}
                </form>
            </p>
      </div>
      <img class="ui avatar image" src="{{ url_for('static',filename='img/avatars/')}}{{range(1, 12) | random}}.png">
      <div class="content">
        {{acc.username}}
      </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}