{% extends "base.html" %}

{% block content %}
<div class="ui text container">
        <div class="row">
            <h2 class="ui header">Following ({{ count }}):</h2>
        </div>

    <div class="ui relaxed divided list">
        {% for acc in accounts %}
        <div class="item">
        <div class="right floated content">
                <p>
                    <form action="{{ url_for('unfollow', username=acc.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }}
                    </form>
                </p>
        </div>
        <div class="content">
            <a href="{{ url_for('u',username=acc.username)}}" class="header">{{acc.username}}</a>
            <div class="description">@{{acc.username}}</div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}