{% extends "base.html" %}
{% block content %}

<div style="margin: 2em" class="ui one column centered grid">
    <div class="row">
        <div class="column">
            <h2 class="ui center aligned header">
                Welcome back, {{current_user.username}}!
                <div class="sub header">Choose a platform</div>
            </h2>
        </div>
    </div>

    <div class="row">
        <a style="padding: .2em" href="{{ url_for('twitter') }}"><button class="massive teal ui button">Twitter</button></a>
        <a style="padding: .2em" href="{{ url_for('youtube') }}"><button class="massive red ui button">Youtube</button></a>
    </div>
</div>
{% endblock %}