{% extends "base.html" %}

{% block content %}
    <div style="padding: 1.3em;" class="ui one column centered grid">
        <div><h2 class="ui blue header"><a href="{{ url_for('following') }}">Manage following: {{ followedCount }}</a></h2></div>
    </div>
    <hr>
    <div class="ui one column grid" id="card-container">
        {% if posts %}
            {% for post in posts %}
                {% if post.isRT %}
                    {% include '_post.html' %}
                {% else %}
                    {% include '_post_nort.html' %}
                {% endif %}
            {% endfor %}
        {% else %}
            <div>No posts</div>
        {% endif %}
{% endblock %}
