{% extends "base.html" %}

{% block content %}
    {% if config.show_admin_message %}
    <div class="text container ui">
        <div class="ui warning message">
            <div class="header">
                {{config.admin_message_title}}
            </div>
                {{config.admin_message}}
        </div>
    </div>
    {% endif %}
    <h2 class="ui centered header">LOGIN</h2>
    <div class="text center aligned container ui" id="container">
        <div class="text center aligned container ui">
            <form class="ui form" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    <i class="user icon"></i>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    <i class="key icon"></i>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
        <div class="text center aligned container ui">
            <a href="{{ url_for('register') }}"><button class="ui button">Register</button></a>
        </div>
</div>
{% endblock %}
