{% extends "base.html" %}

{% block content %}
<div class="ui one column centered grid">
    <form class="ui form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    {% if results %}
    <div style="margin: 0em;" class="ui one column centered grid">
        <div class="ui center aligned divided list">
            {% for res in results %}
            <div class="item">
              <img class="ui avatar image" src="{{ url_for('static',filename='img/avatars/')}}{{range(1, 12) | random}}.png">
              <div class="content">
                <a href="/user/{{res}}">{{res}}</a>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}