{% extends "base.html" %}

{% block content %}
    <div class="blue ui centered card">
        <div class="content">
            <div class="center aligned author">
                <img class="ui avatar image" src="{{ profilePic }}"> {{ twitterAt }}
            </div>
            <div style="margin: .1em" class="center aligned header"><a href="https://nitter.net/{{ twitterAt.replace('@','') }}/">{{ twitterName }}</a></div>
        <div class="center aligned description">
            <a>
                <i class="users icon"></i>
                {{ user.followers.count() }}
            </a>
        </div>
        </div>
        <div class="extra content">
            <div class="ui one column centered grid">
            {% if user == current_user %}
                <p><a>This is your profile</a></p>
            {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow') }}
                    </form>
                </p>
            {% else %}
                <p>
                    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }}
                    </form>
                </p>
            {% endif %}
        </div>
        </div>
    </div>

    <div class="ui one column grid" id="card-container">
    
    {% if not posts %}
        <div style="margin-top: 2em;" class="ui one column centered grid">
            <div style="margin: 1.5em;" class="ui row">
                <img class="ui medium circular image" src="{{ url_for('static',filename='img/empty.png') }}">
            </div>
        
            <div style="margin: 1.5em;" class="ui row">
                <h2 class="ui header">This feed is empty.</h2>
            </div>
        </div>
    {% else %}
        {% for post in posts %}
            {% if post.isRT %}
                {% include '_post.html' %}
            {% else %}
                {% include '_post_nort.html' %}
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}