<head>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='video-js.min.css') }}">
</head>
{% extends "base.html" %}
{% block content %}
<div style="width: 80%;" class="ui container">

    {% if info.error == True %}
    <div class="ui center aligned text container">
        <div class="ui segment">
                <h3 class="ui header"><i class="times icon"></i> ERROR WITH VIDEO </h3>
                <h5 class="ui header">Try to reload the page. Most times this solves the error.</h5>
                <h4 class="ui header">Other reasons.</h4>
                <div class="ui list">
                    <div class="item">
                      <div class="header"><i class="calendar icon"> </i>Scheduled Video</div>
                      Scheduled videos are not supported.
                    </div>
                    <div class="item">
                      <div class="header"><i class="red circle icon"> </i>Livestream video</div>
                      Livestream videos are not yet supported.
                    </div>
                    <div class="item">
                      <div class="header">Other reasons</div>
                      If none of the above is the case, you might have found a bug. <a href="https://github.com/ytorg/Yotter/issues/new/choose">Report it!</a>
                    </div>
                </div>
                <p>Sorry for the inconveninet. Yotter is in a Beta state, so expect errors!</p>
        </div>
    </div>
    {% else %}
        {% if info.start_time != None %}
        {% elif info.is_live != None %}
        <!--<div class="video-js-responsive-container vjs-hd">
            <video-js id=live width="1080" class="video-js vjs-default-skin" controls>
                <source
                src="#"
                type="application/x-mpegURL">
            </video-js>
        </div>-->
            <div class="ui center aligned text container">
                <div class="ui segment">
                        <h3 class="ui header"><i class="red small circle icon"></i> LIVESTREAM VIDEO</h3>
                        <h4 class="ui header">FEATURE AVAILABLE SOON</h4>
                        <h5 class="ui header">Livestreams are under developent and still not supported on Yotter.</h5>
                </div>
            </div>
        {%else%}
            <div class="video-js-responsive-container vjs-hd">
                <video-js autofocus class="video-js vjs-default-skin"
                data-setup='{ "playbackRates": [0.5, 0.75, 1, 1.25,1.5, 1.75, 2] }'
                width="1080"
                controls
                buffered
                preload="none">
                {% if config.isInstance %}
                    {% for source in info.formats %}
                            <source src="{{source.url}}" type="video/{{source.ext}}">
                    {% endfor %}
                {% endif %}
                </video-js>
            </div>
        {%endif%}

        <div class="ui segments">
            <div class="ui segment">
                <h2 class="ui header break-word">{{info.title}}</h2>
            </div>
            <div class="ui horizontal segments">
            <div class="center aligned ui segment">
                <a href="{{ url_for('channel', id=info.uploader_id)}}">
                    <i class="user icon"></i> <b>{{info.uploader}}</b>
                </a>
                    <div class="label">
                        <i class="user icon"></i>{{info.subscriber_count}}
                    </div>
            </div>
            <div class="center aligned ui segment">
                <div class="ui mini statistic">
                    <div class="value">
                        <i class="grey eye icon"></i> <b>{{info.view_count}}</b>
                    </div>
                    <div class="label">
                        views
                    </div>
                </div>
            </div>
            <div class="center aligned ui segment">
                {% if info.average_rating | int > 2.5 %}
                    <div class="ui mini statistic">
                        <div class="value">
                            <i class="green thumbs up icon"></i> <b>{{info.average_rating}}/5</b>
                        </div>
                        <div class="label">
                            Total: {{info.total_likes}} votes
                        </div>
                    </div>
                {% else %}
                <div class="ui mini statistic">
                    <div class="value">
                        <i class="red thumbs down icon"></i> <b>{{info.average_rating}}/5</b>
                    </div>
                    <div class="label">
                        Total: {{info.total_likes}} votes
                    </div>
                    </div>
                {% endif %}
            </div>
            </div>

            <div class="ui raised center aligned segment break-word">
                <p><i class="grey music icon"></i><b>Audio Only</b></p>
                <audio controls>
                    {% for format in info.audio_formats %}
                        <source src="{{format.url}}">
                    {%endfor%}
                No audio available.
                </audio>
            </div>

            <div class="ui raised segment break-word">
                <p>{{info.description}}</p>
            </div>
        </div>

        {%if videocomments%}
        <div class="ui comments">
            <h3 class="ui dividing header">Comments</h3>
            {% for comment in videocomments %}
                    {% include '_video_comment.html' %}
            {% endfor %}
        </div>
        {%endif%}
    <script src="{{ url_for('static',filename='video.min.js') }}"></script>
    {% if info.live %}
        <script src="{{ url_for('static',filename='videojs-http-streaming.min.js')}}"></script>
        <script>
            var player = videojs('live');
            player.play();
        </script>
    {% endif %}
    {%endif%}
{% endblock %}