{% extends "base.html" %}

{% block content %}
<div style="padding: 1.3em;" class="ui one column centered grid">
    <a href="{{ url_for('ytfollowing') }}"><div class="ui red statistic">
        <div class="value">
            {{ channelCount }}
        </div>
        <div class="label">
            Following
        </div>
    </div></a>
</div>

<div style="margin: 0em;" class="ui one column centered grid">
<div class="ui middle aligned divided list">
    {% for channel in channelList %}
    <div class="item">
      <div class="right floated content">
            <p>
                <form action="{{ url_for('ytunfollow', channelId=channel.channelId) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Unfollow') }}
                </form>
            </p>
      </div>
      <img class="ui avatar image" src="{{ url_for('static',filename='img/avatars/')}}{{range(1, 12) | random}}.png">
      <div class="content">
        <a href="{{ url_for('channel', id=channel.channelId)}}">{{channel.channelName}}</a>
      </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}